# Auditor Escrutinio Presidencial 2026
FLASK_SECRET_KEY=cambiar-en-produccion
PORT=5002

DB_HOST=192.168.0.54
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=AuditorEscrutinioPresidencial2026_PROD
